h1 {
  color: black;
  background-color: whitesmoke;
  text-align: center;
  font-weight: bolder;
  text-decoration: rgb(64, 86, 100) underline;
  font-size: 30px;
}
button {
  color: black;
  background-color: lightgoldenrodyellow;
  font-size: large;
  text-align: center;
}
button:hover {
  color: #4ea8de;
  background-color: #edf6f9;
}
label {
  color: black;
  background-color: antiquewhite;
  font-weight: 600;
}
input {
  background-color: wheat;
  color: black;
}
body {
  background-image: url("https://wallpapercave.com/wp/wp2042547.jpg");
  background-size: cover;
}
p {
  line-height: 2;
  width: 550px;
  border-style: groove;
  border-color: #4ea8de;
  border-width: 15px;
  box-sizing: border-box;
  border-radius: 25% 10%;
}
form {
  width: 600px;
  border-style: groove;
  border-color: darkgoldenrod;
  border-width: 10px;
  box-sizing: border-box;
  border-radius: 30px;
}
